<script src="/scripts/three/build/three.js"></script>
<script src="/scripts/three/examples/js/loaders/GLTFLoader.js"></script>
<script src="/scripts/dat.gui/build/dat.gui.min.js"></script>
<script type="module" src="/scripts/three/src/core/Clock.js"></script>
<script src="/scripts/howler/src/howler.core.js"></script>

<script>
/*
	Creation of all the Howl object for audio, with autoplay and loop for the background music.
	They are better suited than THREE.Audio because they can verify if they are already playing.
*/

// We use the variable given by our url to change the circuit and create various variables
var character = "<%= character %>";
var srcBackMusic = 'audio/' + character + 'Circuit.mp3';
var srcBoostAudio = 'audio/' + character + 'Boost.mp3';
var mutedSound = true;
Howler.mute(mutedSound);

var backgroundMusic = new Howl ({
	src: [srcBackMusic],
	loop: true,
	autoplay: true
});

var boostAudio = new Howl ({
	src: [srcBoostAudio],
	volume: 0.5
});

var finishingLap = new Howl ({
	src: ['audio/finishingLap.mp3'],
	volume: 0.6
})

/*
	Creation of fundamentals variables for the scene and the geometries, with the firstPerson boolean, sizes and speeds.
*/
var scene, camera, renderer, player, ground1, ground2;
var firstPerson = false;
var groundSize1, groundSize2;
var groundTexture1 = 'textures/' + character + 'Ground1.png';
var groundTexture2 = 'textures/' + character + 'Ground2.png';
var backgroundTexture = 'textures/' + character + 'Background.png';
var kartModel = 'models/' + character + 'Kart.glb';

switch (character) {
	case "mario":
		groundSize1 = 70;
		groundSize2 = 40;
		break;

	case "bowser":
		groundSize1 = 150;
		groundSize2 = 140;
		break;

	case "donkeyKong":
		groundSize1 = 150;
		groundSize2 = 140;
		break;

	case "wario":
		groundSize1 = 450;
		groundSize2 = 350;
		break;

	default:
		break;
}
var zSpeed = 1.0, xSpeed = 1.0;

/*
	Creation of the two THREE.Clock used for the timers
*/
var clock = new THREE.Clock();
var bestTimeClock = new THREE.Clock();

/*
	Creation of the dat.GUI for displaying the number of turns, the clock value, the current lap time and the best time.
*/
var gui = new dat.GUI();

// Use of string for clock to then format it with the ISO 8601 norm
var gParams = 
{
	numberTurns: 0,
	clock: "0:0",
	currentLapTime: "0:0",
	bestTime: "0:0",
	muteSound: mutedSound
};

// Addition of the listen method to update the GUI when there is a modification of the values.
gui.add(gParams, 'numberTurns').listen();
gui.add(gParams, 'clock').listen();
gui.add(gParams, 'currentLapTime').listen();
gui.add(gParams, 'bestTime').listen();
gui.add(gParams, 'muteSound').listen().onChange(function(){muteSound()});

function muteSound(boolean) {
	mutedSound = !mutedSound;
	Howler.mute(mutedSound);
}

// Creation of the oldTime variable, used to compare it with the new time of a lap.
var oldTime = new Date(100000000).toISOString().substr(11, 12);

// Boolean object for each key presses, to store their values (if pressed or not).
var keysPressed =
{
	upKey:		false,
	downKey:	false,
	leftKey:	false,
	rightKey:	false,
	spaceKey:	false,
	shiftKey:	false
};

// Boolean object to store flags and identify which zones the player did crossed, with a turnEnd flag.
// To avoid counting multiple turn because of the turn verification being launched in the animate function.
var limitFlags = {
	bottomFlag:	false,
	rightFlag:	false,
	upperFlag:	false,
	leftFlag:	false,
	turnEnd:	false
}

init();

/*
	* Initialize the scene, camera, renderer, player, grounds and clocks, with loading the glb file.
	*/
function init() {
	scene = new THREE.Scene();
	scene.background = new THREE.TextureLoader().load(backgroundTexture);
	camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 0.1, 1000);
	renderer = new THREE.WebGLRenderer();
	renderer.setSize(window.innerWidth, window.innerHeight);
	document.body.appendChild(renderer.domElement);

	// Importing a glb 3D model instead of .obj and .mtl because of better compatibility with ThreeJS.
	// function(gltf) does run at the end of the init fuction, so we need to continue our initialisation in it.
	var loader = new THREE.GLTFLoader();
	loader.load(kartModel, 
		function(gltf) {
			// Assigning gltf.scene to player gives us the ability to modify player's position.
			player = gltf.scene;
			scene.add(player);
			player.position.x = 0;

			// We put out player in the center of the space between the two grounds.
			player.position.z = (groundSize1+groundSize2)/2;

			// We rotate our player in our right direction.
			player.rotation.y = -Math.PI/2;

			// We add the camera to player to make it follow the player.
			player.add(camera);
			camera.position.y = 5;
			camera.position.z = 20;
			

			// Creation of BoxGeometry because of their depth attribute compared to PlaneGeometry.
			ground1 = createGround(groundSize1, 0.01, groundTexture1);
			ground2 = createGround(groundSize2, 0.02, groundTexture2);

			// Launching the function to create a BoxGeometry for our finishing line.
			createFinishingLine();

			// Launching the function to add our lights in the scene.
			addLights();

			/*
				We use two document.addEventListener, one to verify when the key is pressed and the second one for 
				when the key is released. With our keysPressed object we can then easily modify the right value for our code.
				We however don't store the firstPerson key because we don't want it to change while the key is pressed.
			*/
			document.addEventListener("keydown", function(e) {
				var keyCode = e.which;

				// Using a switch for better readability.
				switch (keyCode) {
					case 16: keysPressed.shiftKey = true; break;
					case 38: keysPressed.upKey = true; break;
					case 40: keysPressed.downKey = true; break;
					case 37: keysPressed.rightKey = true; break;
					case 39: keysPressed.leftKey = true; break;
					case 32: keysPressed.spaceKey = true; break;

					case 70 :
						// When the key is pressed we verify if we are in firstPerson view. If so, we change to regular view.
						if(firstPerson) {
							camera.position.y = 5;
							camera.position.z = 20;
						}

						// If not, we switch to first person view.
						else {
							camera.position.y = 3;
							camera.position.z = 0;
						}

						// At the end of the change we need to give to firstPerson the opposite value.
						firstPerson = !firstPerson;
					break;
				}
			}, false);

			// Here we just put our values to false.
			document.addEventListener("keyup", function(e) {
				var keyCode = e.which;
				switch (keyCode) {
					case 16: keysPressed.shiftKey = false; break;
					case 38: keysPressed.upKey = false; break;
					case 40: keysPressed.downKey = false; break;
					case 37: keysPressed.rightKey = false; break;
					case 39: keysPressed.leftKey = false; break;
					case 32: keysPressed.spaceKey = false; break;
				}
			}, false);
			
			// Starting our two THREE.Clock
			clock.start();
			bestTimeClock.start();

			// Launching the animate function at the end of our initialization.
			animate();
		}, 

		// A simple console.log to verify the loading of our 3D model.
		function(xhr) { console.log((xhr.loaded/xhr.total*100) + '% loading'); },
		function(error) { console.error(error); }
	);
}

/*
	* Create a THREE.BoxGeometry with custom parameters and texture.
	* @param	{int}			size	- The size of our Geometry.
	* @param	{int}			height	- The height of our Geometry.
	* @param	{string}		texture	- The texture path for our Geometry.
	* @returns	{THREE.Mesh}	cube	- The address of our Mesh to modify it later in the code.
	*/
function createGround(size, height, texture) {
	// We use our size attribute as a "radius" for our Cube.
	var geometry = new THREE.BoxGeometry(size*2, height, size*2);

	// We use RepeatWrapping to repeat the texture vertically and horizontally, without applying a NearestFilter.
	// Then we repeat it 10 vertically and 10 times horizontally.
	var matTexture = new THREE.TextureLoader().load(texture);
	matTexture.wrapT = THREE.RepeatWrapping;
	matTexture.wrapS = THREE.RepeatWrapping;
	matTexture.repeat.set(10, 10);

	var material = new THREE.MeshBasicMaterial({ map: matTexture });
	var cube = new THREE.Mesh(geometry, material);
	scene.add(cube);
	return cube;
}

/*
	* Create a THREE.BoxGeometry for our finishing line.
	*/
function createFinishingLine() {
	// We give 10 for our size because we verify in isTurnCompleted in an area of 10 
	// to avoid counting multiple turns when one is completed.
	var flGeometry = new THREE.BoxGeometry(10, 0.03, groundSize1-groundSize2);

	var flTexture = new THREE.TextureLoader().load('textures/finishingLine.png');
	
	// When loading the texture we use this NearestFilter to keep the pixellated aspect of the texture.
	flTexture.magFilter = THREE.NearestFilter;

	flTexture.wrapT = THREE.RepeatWrapping;
	flTexture.wrapS = THREE.RepeatWrapping;
	flTexture.repeat.set(1, 10);

	var flMaterial = new THREE.MeshBasicMaterial({map: flTexture});
	var finishLine = new THREE.Mesh(flGeometry, flMaterial);
	scene.add(finishLine);

	// We move our finishLine in the center of the space between the two grounds.
	finishLine.position.z = (groundSize1+groundSize2)/2;
}

/*
	* Create the necessary lighting.
	*/
function addLights() {
	// This HemisphereLight will ensure non realistic light but sufficient brightness for our player.
	const light2 = new THREE.HemisphereLight(0xFFFFFF, 0x000000, 1);
	scene.add(light2);
}

/*
	* Function that launch 60 times a second (if 60Hz screen)for launching the function moving our player
	* and updating our GUI clock, then rendering our scene.
	*/
function animate() {
	// Conversion du temps de notre THREE.Clock en une Date valide qu'on peut convertir en string avec la 
	// norme ISO 8601, on ne garde que les heures, minutes, secondes et milisecondes
	gParams.clock = new Date(clock.getElapsedTime()*1000).toISOString().substr(11, 12);
	movementPlayer();
	requestAnimationFrame(animate);
	renderer.render(scene, camera);
}

/*
	* Function that first verifies if we completed our turn, then verifies the keys pressed for
	* moving or rotating our player.
	*/
function movementPlayer() {
	// We launch the method to verify if the turn is completed and modifying each of our flags.
	isTurnCompleted();

	
	// We create a player's clone to move it instead of our player, to verify the limits and not having to
	// move our player back to his initial position.
	var clonePlayer = player.clone();
	
	// With our keysPressed object we verify each of his attributes, with if and not else if to allow
	// multiples movements.

	// Going forward.
	if (keysPressed.upKey) {
		// We first move our clone with the same speed as our player.
		clonePlayer.translateZ(-zSpeed)

		// If the clone stayed in our limits we move our player
		if (limitGeometry(clonePlayer)) { player.translateZ(-zSpeed); }
	}
	
	// Boost when mainting the shift and up keys.
	if (keysPressed.upKey && keysPressed.shiftKey) {
		// We first move our clone with the same speed as our player.
		clonePlayer.translateZ(-zSpeed*2)
		
		// If the clone stayed in our limits we move our player
		if (limitGeometry(clonePlayer)) {
			// We verify if the boostAudio is already playing, if not we launch it.
			if (!boostAudio.playing()) { boostAudio.play(); }
			player.translateZ(-zSpeed*2);
		}
	}

	// Turning Back.
	if (keysPressed.downKey) {
		// We first move our clone with the same speed as our player.
		clonePlayer.translateZ(zSpeed)

		// If the clone stayed in our limits we move our player
		if (limitGeometry(clonePlayer)) { player.translateZ(zSpeed); }
	}

	// Right rotation, dividing xSpeed by 16 for much easier rotation.
	if (keysPressed.rightKey)	{ player.rotation.y += xSpeed/16; }

	// Left rotation, dividing xSpeed by 16 for much easier rotation.
	if (keysPressed.leftKey)	{ player.rotation.y -= xSpeed/16; }

	// Player going to the original position with the same rotation.
	if (keysPressed.spaceKey) {
			player.position.x = 0;
			player.position.z = (groundSize1+groundSize2)/2;
			player.rotation.y = -Math.PI/2;
	}
}

/*
	* Calculating our limits for any groundSize1 and groundSize2.
	* @param	{THREE.Mesh}	object	- Object we give to our function to verify if it is in our limits.
	* @returns	{boolean}		boolean	- False if we are not in our driving space and true if we are within our limits.
	*/
function limitGeometry(object) {
	// We create a 4 booleans object for 4 areas of our racing circuit for easier readability.
	var groundPosition = {
		bottom: 
			object.position.z < groundSize1	&& 
			object.position.z > groundSize2	&& 
			object.position.x < groundSize1	&& 
			object.position.x > -groundSize1,

		right: 
			object.position.z < groundSize1	&& 
			object.position.z > -groundSize1	&& 
			object.position.x < groundSize1	&& 
			object.position.x > groundSize2,

		upper: 
			object.position.z < -groundSize2	&& 
			object.position.z > -groundSize1	&& 
			object.position.x < groundSize1	&& 
			object.position.x > -groundSize1,

		left: 
			object.position.z < groundSize1	&& 
			object.position.z > -groundSize1	&& 
			object.position.x < -groundSize2	&& 
			object.position.x > -groundSize1
	}

	// We verify if the object is in one of our areas, if so we return true.
	if (groundPosition.bottom || groundPosition.right || groundPosition.upper || groundPosition.left) {
		return true;
	}
	return false;
}

/*
	* Function that verifies is the turn is completed, changing then every need boolean of limitFlags.
	*/
function isTurnCompleted() {
	// I prefer to create another similar object to have the most updated value, I could have probably passed it in the function.
	var groundPosition = {
		bottom: 
			player.position.z < groundSize1	&& 
			player.position.z > groundSize2	&& 
			player.position.x < groundSize1	&& 
			player.position.x > -groundSize1,

		right: 
			player.position.z < groundSize1	&& 
			player.position.z > -groundSize1	&& 
			player.position.x < groundSize1	&& 
			player.position.x > groundSize2,

		upper: 
			player.position.z < -groundSize2	&& 
			player.position.z > -groundSize1	&& 
			player.position.x < groundSize1	&& 
			player.position.x > -groundSize1,

		left: 
			player.position.z < groundSize1	&& 
			player.position.z > -groundSize1	&& 
			player.position.x < -groundSize2	&& 
			player.position.x > -groundSize1
	}

	/*
		Here we update the flags from limitFlags, verifying in which area we are.
		We also need to verify the order of our areas, if the player does the circuit in the wrong order
		we don't have to count his turn. We then have to keep track with these flags of the areas the
		player went into. We use the order Bottom => Right => Upper => Left.
	*/

	limitFlags.bottomFlag = 
		// If we are in one and only one area or if we already passed the bottom area.
		(groundPosition.bottom	&& 
		!groundPosition.right	&&
		!groundPosition.upper	&& 
		!groundPosition.left)	|| limitFlags.bottomFlag;

	limitFlags.rightFlag = 
		(!groundPosition.bottom	&& 
		groundPosition.right	&&
		!groundPosition.upper	&& 
		!groundPosition.left	&& 
		// We verify here if we already passed by the bottom.
		(	limitFlags.bottomFlag	)) || limitFlags.rightFlag;
		
	limitFlags.upperFlag = 
		(!groundPosition.bottom	&& 
		!groundPosition.right	&&
		groundPosition.upper	&& 
		!groundPosition.left	&& 
		(	limitFlags.bottomFlag &&
			limitFlags.rightFlag	)) || limitFlags.upperFlag;
		
	limitFlags.leftFlag = 
		(!groundPosition.bottom	&& 
		!groundPosition.right	&&
		!groundPosition.upper	&& 
		groundPosition.left		&& 
		(	limitFlags.bottomFlag	&&
			limitFlags.rightFlag	&&
			limitFlags.upperFlag		))  || limitFlags.leftFlag;

	/*
		Because we have a very low probability to hit an exact position, we use an area of 10 to be sure that the player will
		passed it. We verify if we are in this finishing line and if all our areas were visited.
	*/
	if (player.position.x < 5 && player.position.x > -5 && player.position.z < groundSize1 && player.position.z > groundSize2 && 
		limitFlags.bottomFlag && limitFlags.rightFlag && limitFlags.upperFlag && limitFlags.leftFlag) {
		// Our turn boolean being false, we will count it once.
		if (!limitFlags.turnEnd) {
			gParams.numberTurns++;

			// We compare the new time with the older best time.
			var newTime = new Date(bestTimeClock.getElapsedTime() *1000).toISOString().substr(11, 12);

			gParams.currentLapTime = newTime;

			// If we did a new record we store it and update our GUI
			if (newTime < oldTime) {
				gParams.bestTime = newTime;
				oldTime = newTime;
			}

			// We verify the sound effect for finishing the lap isn't already playing.
			if (!finishingLap.playing()) { finishingLap.play(); }

			// We end by storing true to this flag, and only count once the completed turn when being in this area.
			limitFlags.turnEnd = true;
		}
	}

	else {
		// If we did completed a turn we need to put every flags to false
		if (limitFlags.turnEnd) {
			limitFlags.bottomFlag = false;
			limitFlags.rightFlag = false;
			limitFlags.upperFlag = false;
			limitFlags.leftFlag = false;
			limitFlags.turnEnd = false;

			// We then stop and reset our bestTimeClock.
			bestTimeClock.stop();
			bestTimeClock.start();
			
		}
	}
}

</script>