<div class="container p-3 p-md-5">
	<div class="row">
		<img class="img-fluid" id="logo" src="textures/marioKartThreeJS.png">
	</div>

	<div class="row">
		<div class="col-3 centered">
			<a href="/circuitTimer?character=mario">
				<img class="rounded-circle border characters" alt="Mario" src="textures/faces/marioFace.png">
			</a>
		</div>
		<div class="col-3 centered">
			<a href="/circuitTimer?character=bowser">
				<img class="rounded-circle border characters" alt="Bowser" src="textures/faces/bowserFace.png">
			</a>
		</div>
		<div class="col-3 centered">
			<a href="/circuitTimer?character=donkeyKong">
				<img class="rounded-circle border characters" alt="Donkey Kong" src="textures/faces/donkeyKongFace.png">
			</a>
		</div>
		<div class="col-3 centered">
			<a href="/circuitTimer?character=wario">
				<img class="rounded-circle border characters" alt="Wario" src="textures/faces/warioFace.png">
			</a>
		</div>
	</div>

	<div class="row">
		<ul id="list">
			<li>Up : Going forward. </li>
			<li>Up + Shift key : Boost forward. </li>
			<li>Left : Left rotation. </li>
			<li>Down : Turning back. </li>
			<li>Right : Right rotation. </li>
			<li>F : First person camera. </li>
			<li>Space key : Resetting position. </li>
		</ul>
	</div>
</div>
