<!DOCTYPE html>

<html lang="en">
	<head>
		<title>Mario Kart ThreeJS - <%= title %></title>
		<meta charset="utf-8">
		<%
			// If we are not in our welcome page we add the canvas.
			if (page != "welcome")
			{ %>
				<style>
					body { margin: 0; }
					canvas { display: block; }
				</style>
			<% } 
			// We use bootstrap for main page.
			else
			{ %>
				<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
				<link rel="stylesheet" href="/stylesheets/style.css">
				<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
				<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
				<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
			<% }
		%>
	</head>
	<body>
		<%- include(`partials/${page}.ejs`) %>
	</body>
</html>
