@font-face 
{
	font-family: 'mario_kart_f2regular';
	src:	url('/fonts/mariokartfont-webfont.woff2') format('woff2'),
			url('/fonts/mariokartfont-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.centered
{
	text-align: center;
}

.characters
{
	width: 70%;
	height: auto;
}

#logo
{
	margin: 50px;
}

#list
{
	color: white;
	margin: 50px;
	font-family: 'mario_kart_f2regular';
}

body
{
	background: rgb(0,0,0);
	background: linear-gradient(52deg, rgba(0,0,0,1) 4%, rgba(0,0,0,1) 46%, rgba(171,171,171,1) 100%); 
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}